<div id = "contact-us-form" class="container col-sm-10 col-lg-6 my-lg-5 my-sm-1">
    <div class="modal-dialogp-2 py-md-5 pb-5">
        <div class="modal-content rounded-4 bg-white shadow">
            <div class="text-center p-5 pb-0 border-bottom-0">
                <h1 class="display-3 bold">Contact us</h1>
            </div>  
            <!-- <div class="container p">
                <hr class="mx-auto" style="width: 90%;">
            </div> -->
            <div class="modal-body p-3 p-lg-5 pt-0">
                <form class="row g-3 py-3">
                <div class="col-md-6">
                    <label for="inputFirstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="Jon">
                </div>
                <div class="col-md-6">
                    <label for="inputLastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="Doe">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="jon.doe@example.com">
                </div>
                <div class="col-md-6">
                    <label for="inputPhone" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="801-867-5309">
                </div>
                <div class="col-md-12">
                    <label for="inputMessage" class="form-label">Tell us what you're looking for</label>
                    <input type="text" class="form-control" id="inputMessage" placeholder="Make my data shine for me!">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>