{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
  <link rel="stylesheet" href="https://unpkg.com/aos/dist/aos.css">
  <script src="https://unpkg.com/aos/dist/aos.js"></script>
</head>
<style>
  .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

svg .rect {
  fill: gold;
  stroke: steelblue;
  stroke-width: 5px;

  .line {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  svg {
    height: auto;
    width: 100%;
  }
  .line2 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
</style>

<body>
  <main style="overflow: hidden">
    <div class="container-fluid bg-secondary">
      <div class="container px-4 ">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5" style="min-height:400px; ">
          <div class="col-12 col-sm-12 col-lg-5" style="z-index: 0; position:relative; min-height: 400px">
            <div class="line" style="position: absolute; top: 0
            ; left: 0;">
              <img src="{% static 'images/line1.png' %}" class="d-block mx-lg-auto img-fluid fade-in"
                data-aos="fade-left" alt="Lines" width="700" height="500" loading="lazy">
            </div>
            <div class="line2" style="position: absolute; top: -50px; left: -20%; ">
              <img src="{% static 'images/line3.png' %}" class="d-block mx-lg-auto img-fluid fade-in"
                data-aos="fade-bottom" alt="Lines" width="700" height="500" loading="lazy" style="transform:rotate(60deg
                )">
            </div>
          </div>
          <div class="col-lg-7" style="z-index:1">
            <h1 class="display-5 text-primary lh-1 mb-3">Unleash the Power of Your Data</h1>
            <p class="lead text-white">Design-oriented data consulting. Trust our analytics and
              engineering expertise to
              deliver
              insights, streamline your business processes, and drive growth.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" onClick="document.getElementById('contact-us-form').scrollIntoView();" class="btn btn-primary btn-lg px-4 me-md-2">Let's Talk!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
  ================================================== -->

    <div class="container marketing py-5 ">

      <!-- Three columns of text below the carousel -->
      <div class="row fade-in" data-aos="fade-right">
        <div class="col-lg-4">
          <a href="{% url 'services:service_list' %}#analytics">
          <img  src="{% static 'images/analytics.webp' %}" class="bd-placeholder-img rounded-circle" 
          width="140" height="140" alt="Analytics">
          </a>
          <h2 class="fw-normal">Data Analytics</h2>
          <p>Transforming messy data into actionable insights. We empower businesses to make 
            data-driven decisions for fast growth and efficiency.</p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="{% url 'services:service_list' %}#engineering">
              <img src="{% static 'images/engineering.webp' %}" class=" rounded-circle" width="140" height="140" alt="Analytics">
        </a>
        <h2 class="fw-normal">Data Engineering</h2>
        <p>Building robust data infrastructures, we ensure seamless data collection,
            storage, and processing to unlock your data's full potential.
        </p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <a href="{% url 'services:service_list' %}#automation">
          <img  src="{% static 'images/ai.webp' %}" class="rounded-circle" 
          width="140" height="140" alt="AI and Automation">
          </a>
          <h2 class="fw-normal">AI and Automation</h2>
          <p>Personalize your customer interactions.
            Write custom marketing messaging without effort.
            Inject tailored content into your sales outreach.
           </p>
          <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div>
      </div>


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette fade-in" data-aos="fade-bottom">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">Design driven approach to charts. <span
              class="text-body-secondary">Forget ugly, messy Excel bars.</span></h2>
          <p class="lead">We use data visualization to help you understand your business, and make charts 
            you will <i>want</i> to show off to your stakeholders.
            There's too many abandoned dashboard sitting around gathering dust. 
            We put the big numbers first, but let you dive into the nitty gritty if you want.</p>
        </div>
        <div class="col-md-5">
            {% include 'services/includes/chart-ridges.html' %}
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette fade-in" data-aos="fade-bottom">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Make sense of your. <span class="text-body-secondary">See
              for yourself.</span></h2>
          <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
            layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
              fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
          </svg>
        </div>
      </div>
    </div>


    {% include 'services/includes/contact-us-form.html' %}
  </main>
</body>

</html>
<script>
  AOS.init();
</script>

{% endblock %}